<div style="width: 850px;">
    <table style="margin: 30px 10px 0px 30px;">
        <tr>
            <td>
                <a routerLink="/rentals" routerLinkActive="active">ניהול הזמנות</a>
            </td>
            <td><a routerLink="/vehicle-types-manage" routerLinkActive="active">ניהול סוגי רכב</a>
            </td>
            <td><a routerLink="/vehicles" routerLinkActive="active">ניהול רכבים</a>
            </td>
            <td><a routerLink="/users" routerLinkActive="active">ניהול משתמשים</a>
            </td>
        </tr>
    </table>

    <!-- <a routerLink="/users" routerLinkActive="active">ניהול משתמשים</a> -->
</div>


