

<img *ngIf="!allVehicleTypes && ok" src="/assets/images/loading.gif">

<div *ngIf="allVehicleTypes">

  <table style="text-align:center; align-content: center; border-bottom: 1px solid orange;">
    <tr style="border-bottom: 1px solid orange;">
      <td></td>
      <td></td>
      <th style="padding-bottom: 10px;">יצרן</th>
      <th style="padding-bottom: 10px;">מודל</th>
      <th style="padding-bottom: 10px;">עלות יומית</th>
      <th style="padding-bottom: 10px;">עלות חריגה</th>
      <th style="padding-bottom: 10px;">גיר</th>
      <th style="padding-bottom: 10px;">שנת יצור</th>

      <!-- העריכה לא פועלת, לא הצלחתי -->
      <!-- <th>Edit</th> -->
      <!-- <th>Delete</th> -->
      <!-- <th>Photo</th> -->
    </tr>

    <tr>
      <td style="padding-bottom: 20px;"></td>
    </tr>

    <tr *ngFor="let v of allVehicleTypes">
      <td><button (click)="editVehicleType(v.vehicleTypeID)" class="blackButton">עריכה</button></td>
      <td><button (click)="deleteVehicleType(v.vehicleTypeID)" class="blackButton">מחיקה</button></td>
      <td><span class="greySpan">{{ v.manufacturer }}</span></td>
      <td><span class="greySpan">{{ v.model }}</span></td>
      <td><span class="greySpan">{{ v.dailyFee }}</span></td>
      <td><span class="greySpan">{{ v.overdueFee }}</span></td>
      <td><span class="greySpan">{{ v.gearType }}</span></td>
      <td><span class="greySpan">{{ v.productionYear | date}}</span></td>
      <!-- העריכה לא פועלת, לא הצלחתי -->

    </tr>
  </table>
  <br><a routerLink="/add-vehicle-type" class="blackA" style="height: 40px; width: 160px;">הוספת פריט</a><br>
  <p></p><br>
</div>
<p></p><br>
