<div id="example2" style="margin-top: -15px; background-color: black; height: 164px; width: 969px; text-align: left;">
  <div style="text-align: left;">
    <br>
    <span class="special" style="color: white; font-size: 35px; margin-left: 15px;">We are renting,</span>
  </div><br>
  <div style="align-content: center;">
    <span class="special" style="color: orange; font-size: 50px; margin-left: 15px;">Choose your favorite car!</span>
  </div><br><br>
  <!-- <img src="/assets\images\homePageImages\blackBackGround.png"><br> -->
</div>
<br><br>


<div id="example2" style="margin-top: -15px;">
  <div class="cont">
    <img src="/assets\images\homePageImages\01_mercedesBenz.png" alt="Mercedes Benz" height="200"><br>
    <div class="topRight">
      <a routerLink="/mercedes">Mercedes Benz<span> SLS</span></a>

    </div>
  </div>
</div>
<br>
<!-- <a id="Mercedes Benz" routerLink="/mercedes">Mercedes Benz <span> SLS</span></a> -->
<!-- <a href="/mercedes#Mercedes">Mercedes Benz <span> SLS</span></a> -->


<div id="example2">
  <div class="cont">
    <img src="/assets\images\homePageImages\02_BMWHybrid.png" alt="Mercedes Benz" height="200"><br>
    <div class="topRight">
      <!-- <a routerLink="/mercedes">BMW <span>Hybrid i8</span></a> -->
      <a href="/mercedes#BMW">BMW <span>Hybrid i8</span></a>

    </div>
  </div>
</div>
<br>

<div id="example2">
  <div class="cont">
    <img src="/assets\images\homePageImages\03_ChevroletCorvetteC6.png" alt="Gallery" height="200"><br>
    <div class="topRight">
      <a href="/mercedes#CorvetteC6">Chevrolet <span>Corvette C6</span></a>
    </div>
  </div>
</div>
<br>

<div id="example2">
  <div class="cont">
    <img src="/assets\images\homePageImages\08_toyotaLexusLc.png" alt="Toyota Lexus" height="200"><br>
    <div class="topRight">
      <a href="/mercedes#ToyotaLC">Toyota <span>Lexus LC</span></a>
    </div>
  </div>
</div>
<br>

<div id="example2">
  <div class="cont">
    <img src="/assets\images\homePageImages\04_PorscheCarrera.png" alt="Mercedes Benz" height="200"><br>
    <div class="topRight">
      <a href="/mercedes#Porsche">Porsche <span>Carrera</span></a>
    </div>
  </div>
</div>
<br>

<div id="example2">
  <div class="cont">
    <img src="/assets\images\homePageImages\05_ChevroletCorvetteC3.png" alt="Mercedes Benz" height="200"><br>
    <div class="topRight">
      <a href="/mercedes#CorvetteC3">Chevrolet <span>Corvette C3</span></a>
    </div>
  </div>
</div>
<br>

<div id="example2">
  <div class="cont">
    <img src="/assets\images\homePageImages\06_FerrariTestaRosa.png" alt="Mercedes Benz" height="200"><br>
    <div class="topRight">
      <a href="/mercedes#Ferari">Ferrari <span>Testa Rosa</span></a>
    </div>
  </div>
</div>
<br>
<br>
<p></p><br>
<p></p>