
  <div id="Mercedes" style="height: 590px; text-align: right; margin-top: -15px">
    <div class="cont">
      <img src="/assets\images\searchCar\02_mercedes.png" alt="Mercedes" height="380px"
        style="align-content: center;"><br><br>
      <div class="topleft">
        <span class="largeSpan">Mercedes <span class="smallSpan">SLS</span></span>
      </div>
      <br><br><br>
      <div style="margin-top: 10px">
        <table style="margin-bottom: 20px;">                                                                                                                        
          <tr>
            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 205px; color: white; font-weight: 500;"><span>ש"ח 1800</span> :עלות יומית</span>
              </div>
            </td>

            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 225px; color: white; font-weight: 500;"><span>ש"ח 2000</span> :עלות יום איחור</span>
              </div>
            </td>
            <td style="padding: 24px 50px 12px 15px;">
                פרטי רכב
            </td>
          </tr>

          <tr>
            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 205px; color: white; font-weight: 500;"><span>אוטומתי </span> :גיר</span>
                </div>  
            </td>

            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 225px; color: white; font-weight: 500;"><span>124578</span> :מספר רכב</span>
                </div>
            </td>
            <td>
                <a routerLink="/add-rental" class="blackA" style="width: 160px;">הזמנה</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<p id="BMW"></p>
<br><p></p><br><br><p></p><br>

<div style="height: 590px; text-align: right; margin-top: -15px">
    <div class="cont">
      <img src="/assets\images\searchCar\01_bmw.png" alt="BMW" height="380px"
        style="align-content: center;"><br><br>
      <div class="topleft">
        <span class="largeSpan">BMW <span class="smallSpan">i8 Hybrid</span></span>
      </div>
      <br><br><br>
      <div style="margin-top: 10px">
        <table style="margin-bottom: 20px;">
          <tr>
            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 205px; color: white; font-weight: 500;"><span>ש"ח 1550</span> :עלות יומית</span>
              </div>
            </td>

            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 225px; color: white; font-weight: 500;"><span>ש"ח 1700</span> :עלות יום איחור</span>
              </div>
            </td>
            <td style="padding: 24px 50px 12px 15px;">
                פרטי רכב
            </td>
          </tr>

          <tr>
            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 205px; color: white; font-weight: 500;"><span>אוטומתי </span> :גיר</span>
                </div>  
            </td>

            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 225px; color: white; font-weight: 500;"><span>987654</span> :מספר רכב</span>
                </div>
            </td>
            <td>
                <a routerLink="/add-rental" class="blackA" style="width: 160px;">הזמנה</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<p id="CorvetteC6"></p>
<br><p></p><br><br><p></p><br>

  
  <div style="height: 590px; text-align: right; margin-top: -15px">
    <div class="cont">
      <img src="/assets\images\searchCar\chevrolet_CorvetteC6.png" alt="CorvetteC6" height="380px"
        style="align-content: center;"><br><br>
      <div class="topleft">
        <span class="largeSpan">Chevrolet <span class="smallSpan">Corvett C6</span></span>
      </div>
      <br><br><br>
      <div style="margin-top: 10px">
        <table style="margin-bottom: 20px;">
          <tr>
            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 205px; color: white; font-weight: 500;"><span>ש"ח 1000</span> :עלות יומית</span>
              </div>
            </td>

            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 225px; color: white; font-weight: 500;"><span>ש"ח 1300</span> :עלות יום איחור</span>
              </div>
            </td>
            <td style="padding: 24px 50px 12px 15px;">
                פרטי רכב
            </td>
          </tr>

          <tr>
            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 205px; color: white; font-weight: 500;"><span>אוטומתי </span> :גיר</span>
                </div>  
            </td>

            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 225px; color: white; font-weight: 500;"><span>987654</span> :מספר רכב</span>
                </div>
            </td>
            <td>
                <a routerLink="/add-rental" class="blackA" style="width: 160px;">הזמנה</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<p id="ToyotaLC"></p>
<br><p></p><br><br><p></p><br>


<div style="height: 590px; text-align: right; margin-top: -15px">
    <div class="cont">
      <img src="/assets\images\searchCar\toyotaLexusLc.png" alt="toyotaLC" height="380px"
        style="align-content: center;"><br><br>
      <div class="topleft">
        <span class="largeSpan">Toyota <span class="smallSpan">Lexus LC</span></span>
      </div>
      <br><br><br>
      <div style="margin-top: 10px">
        <table style="margin-bottom: 20px;">
          <tr>
            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 205px; color: white; font-weight: 500;"><span>ש"ח 1000</span> :עלות יומית</span>
              </div>
            </td>

            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 225px; color: white; font-weight: 500;"><span>ש"ח 1300</span> :עלות יום איחור</span>
              </div>
            </td>
            <td style="padding: 24px 50px 12px 15px;">
                פרטי רכב
            </td>
          </tr>

          <tr>
            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 205px; color: white; font-weight: 500;"><span>אוטומתי </span> :גיר</span>
                </div>  
            </td>

            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 225px; color: white; font-weight: 500;"><span>987654</span> :מספר רכב</span>
                </div>
            </td>
            <td>
                <a routerLink="/add-rental" class="blackA" style="width: 160px;">הזמנה</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<p id="Porsche"></p>
<br><p></p><br><br><p></p><br>


<div style="height: 590px; text-align: right; margin-top: -15px">
    <div class="cont">
      <img src="/assets\images\searchCar\03_porsche_carrera.png" alt="porsche" height="380px"
        style="align-content: center;"><br><br>
      <div class="topleft">
        <span class="largeSpan">Porsche <span class="smallSpan">Carrera</span></span>
      </div>
      <br><br><br>
      <div style="margin-top: 10px">
        <table style="margin-bottom: 20px;">
          <tr>
            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 205px; color: white; font-weight: 500;"><span>ש"ח 1000</span> :עלות יומית</span>
              </div>
            </td>

            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 225px; color: white; font-weight: 500;"><span>ש"ח 1300</span> :עלות יום איחור</span>
              </div>
            </td>
            <td style="padding: 24px 50px 12px 15px;">
                פרטי רכב
            </td>
          </tr>

          <tr>
            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 205px; color: white; font-weight: 500;"><span>אוטומתי </span> :גיר</span>
                </div>  
            </td>

            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 225px; color: white; font-weight: 500;"><span>987654</span> :מספר רכב</span>
                </div>
            </td>
            <td>
                <a routerLink="/add-rental" class="blackA" style="width: 160px;">הזמנה</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<p id="CorvetteC3"></p>
<br><p></p><br><br><p></p><br>


<div style="height: 590px; text-align: right; margin-top: -15px">
    <div class="cont">
      <img src="/assets\images\searchCar\Chevrolet_Corvette_C3.png" alt="CorvetteC3" height="380px"
        style="align-content: center;"><br><br>
      <div class="topleft">
        <span class="largeSpan">Chevrolet <span class="smallSpan">Corvett C3</span></span>
      </div>
      <br><br><br>
      <div style="margin-top: 10px">
        <table style="margin-bottom: 20px;">
          <tr>
            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 205px; color: white; font-weight: 500;"><span>ש"ח 1000</span> :עלות יומית</span>
              </div>
            </td>

            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 225px; color: white; font-weight: 500;"><span>ש"ח 1300</span> :עלות יום איחור</span>
              </div>
            </td>
            <td style="padding: 24px 50px 12px 15px;">
                פרטי רכב
            </td>
          </tr>

          <tr>
            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 205px; color: white; font-weight: 500;"><span>אוטומתי </span> :גיר</span>
                </div>  
            </td>

            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 225px; color: white; font-weight: 500;"><span>987654</span> :מספר רכב</span>
                </div>
            </td>
            <td>
                <a routerLink="/add-rental" class="blackA" style="width: 160px;">הזמנה</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<p id="Ferari"></p>
<br><p></p><br><br><p></p><br>


<div style="height: 590px; text-align: right; margin-top: -15px">
    <div class="cont">
      <img src="/assets\images\searchCar\ferari_testa_rossa2.png" alt="ferari" height="380px"
        style="align-content: center;"><br><br>
      <div class="topleft">
        <span class="largeSpan">Ferari <span class="smallSpan">Testa Rossa</span></span>
      </div>
      <br><br><br>
      <div style="margin-top: 10px">
        <table style="margin-bottom: 20px;">
          <tr>
            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 205px; color: white; font-weight: 500;"><span>ש"ח 1000</span> :עלות יומית</span>
              </div>
            </td>

            <td>
              <div style="border-bottom: 1px solid orange;">
                <span style="width: 225px; color: white; font-weight: 500;"><span>ש"ח 1300</span> :עלות יום איחור</span>
              </div>
            </td>
            <td style="padding: 24px 50px 12px 15px;">
                פרטי רכב
            </td>
          </tr>

          <tr>
            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 205px; color: white; font-weight: 500;"><span>אוטומתי </span> :גיר</span>
                </div>  
            </td>

            <td>
                <div style="border-bottom: 1px solid orange;">
                    <span style="width: 225px; color: white; font-weight: 500;"><span>987654</span> :מספר רכב</span>
                </div>
            </td>
            <td>
                <a routerLink="/add-rental" class="blackA" style="width: 160px;">הזמנה</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br><p></p><br><br><p></p><br>


