<!-- 
<div class="navbar-inversed-fixed-top"> 
    <div class="container-fluid">  -->
   
    <!-- <div >
    <ul class="topnav">
        <li class="left"><a href="#home" routerLink="/home"><img #myImage src="/assets/images/Tropical_Tripsn_n_Cars_logo.png" routerLink="/home"></a></li>
        <li><a href="#add-user" routerLink="/add-user">רישום</a></li>
        <li><a href="#search-car" routerLink="/search-car">חיפוש רכבים</a></li>
        <li><a href="#employee" routerLink="/employee">החזרת רכבים</a></li>
        <li><a href="#login" routerLink="/login">כניסה למערכת</a></li>
        <li><a href="#admin" routerLink="/admin">אדמין</a></li>
        <li><a href="#branch" routerLink="/branch">סניפים</a></li>
      </ul>
</div> -->



<!-- <nav class="navbar-inversed-fixed-top">
    <div class="container-fluid">
      <div >
        <a class="navbar-brand" href="#home"><img #myImage src="/assets/images/Tropical_Tripsn_n_Cars_logo.png" routerLink="/home"></a>
      </div>
      <div style="float: right;">
        <ul class="nav navbar-nav" >
            <li class="active"><a href="#add-user" routerLink="/add-user">רישום</a></li>
            <li><a href="#search-car" routerLink="/search-car">חיפוש רכבים</a></li>
            <li><a href="#employee" routerLink="/employee">החזרת רכבים</a></li>
            <li><a href="#login" routerLink="/login">כניסה למערכת</a></li>
            <li><a href="#admin" routerLink="/admin">אדמין</a></li>
            <li><a href="#branch" routerLink="/branch">סניפים</a></li>
          </ul>
      </div>
     
    </div>
  </nav> -->
<!-- 
  <div class="container" style="margin-top:50px">
    <h3>Fixed Navbar</h3>
    <div class="row">
      <div class="col-md-4">
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
      </div>
      <div class="col-md-4">
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
      </div>
      <div class="col-md-4">
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
      </div>
    </div>
  </div>

  <h1>Scroll this page to see the effect</h1> -->

